* {
    margin: 0;
    padding: 0
}
html {
    height: 100%
}
body {
    height: 100%;
    background: #FFF;
    font: 13px/23px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #454545;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3A3E43;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 20px
}
h1 {
    font-size: 30px
}
h2 {
    font-size: 26px
}
h3 {
    font-size: 20px
}
h4 {
    font-size: 16px
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 12px
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit
}
p {
    margin: 0 0 20px 0
}
p img {
    margin: 0
}
p.lead {
    font-size: 21px;
    line-height: 27px;
    color: #77777
}
em {
    font-style: italic
}
strong {
    font-weight: bold;
    color: #333
}
small {
    font-size: 80%
}
a {
    color: #58D68D;
    text-decoration: none;
    outline: 0;
    -webkit-transform: translateZ(0);
    -webkit-transition: 0.2s color linear;
    -moz-transition: 0.2s color linear;
    transition: 0.2s color linear
}
a:hover {
    color: #58D68D
}
p a {
    line-height: inherit
}
ul,
ol {
    margin-bottom: 20px
}
ul {
    list-style: none outside
}
ol {
    list-style: decimal
}
ol,
ul.square,
ul.circle,
ul.disc {
    margin-left: 30px
}
ul.square {
    list-style: square outside
}
ul.circle {
    list-style: circle outside
}
ul.disc {
    list-style: disc outside
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 4px 0 5px 30px;
    font-size: 90%
}
ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin-bottom: 6px
}
ul.large li {
    line-height: 21px
}
li p {
    line-height: 21px
}
.icons-ul i {
    color: #58D68D
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom
}
@media \0screen {
    img {
        width: auto
    }
}
#header-section {
    width: 100%;
    position: relative;
    z-index: 1000;
    background: #fff;
    padding: 0
}
.top-header {
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #eee
}
.top-header h1 {
    padding: 20px 0 0 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0
}
.top-header a {
    color: #333
}
.top-header a:hover {
    color: #2ea251
}
.top-header ul {
    list-style: none;
    margin: 0;
    color: #555;
    padding: 10px 0
}
.top-header ul li {
    display: inline
}
.footer {
    padding: 40px 0 20px;
    border-top: 1px solid #eee
}
.footer a {
    color: #BBBDBF
}
.footer a:hover {
    color: #FFF
}
.footer h3 {
    color: #FFF
}
.footer .site-branding {
    float: none;
    display: block;
    margin: 0 auto 20px 0
}
.footer .site-branding h1 {
    font-size: 30px;
    margin: 0;
    color: #58D68D;
    line-height: inherit
}
.site-branding a {
    display: block;
    color: #fff;
    line-height: inherit
}
.footer .site-branding a:hover {
    color: #58D68D
}
.copyright {
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #999;
    text-transform: capitalize
}
.link-profile {
    text-align: center;
    margin-top: 5px
}
.link-profile a {
    color: #999
}
.deleteevent {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center
}
.deleteevent a {
    color: #cacaca
}
.deleteevent.loadindicator {
    background: url(/templates/default/images/site/spinner.gif) 140px center no-repeat !important;
    text-indent: 0px !important
}
#eventlist>.loadindicator {
    background: url(/templates/default/images/site/spinner.gif) center center no-repeat;
    width: 16px;
    height: 16px
}
#eventlist li>.form {
    background: #3bc765;
    border-bottom: 3px solid #2ea251;
    position: relative
}
#eventlist>li>.form>h2 {
    padding-top: 25px;
    color: #fff;
    text-align: center
}
#eventlist > li .form .deleteevent {
    padding-bottom: 15px;
    font-size: 14px;
    margin-bottom: 0
}
.editclose a {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #fff;
    font-size: 36px
}
.editclose a:hover {
    color: #d03221
}
#eventlist .checkinbuttons .loadindicator {
    background: #eee url(/templates/default/images/site/spinner.gif) center center no-repeat;
    text-indent: -9999px
}
#habitchart-container {
    position: relative;
    width: 100%
}
.habitchart-cell {
    display: block;
    border-right: 1px solid #eee;
    overflow: hidden;
    text-align: center;
    padding: 0
}
.habitchart-cell span {
    display: block
}
.habitchart-tasks {
    float: left;
    width: 250px;
    font-size: 11px;
    background: #fefefe;
    border-right: 0px solid #eee;
    box-shadow: 3px 0 10px #fff;
    position: absolute;
    z-index: 10000
}
.habitchart-taskhead {
    height: 24px;
    background: #eee;
    border-bottom: 1px solid #eee
}
.habitchart-taskhead span {
    text-align: left;
    display: block;
    padding: 0 5px
}
.habitchart-task {
    border-bottom: 1px solid #eee;
    padding: 0px
}
.habitchart-task span {
    text-align: left;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.habitchart-tasks .habitchart-cell span {
    margin-top: 0
}
.habitchart-timeline {
    margin-left: 250px;
    overflow-x: scroll;
    position: relative;
    padding-bottom: 20px
}
.habitchart-months {
    font-size: 11px;
    border-bottom: 1px solid #eee
}
.habitchart-month {
    display: block;
    float: left
}
.habitchart-month span {
    text-align: left;
    padding-left: 5px
}
.habitchart-days {
    font-size: 11px;
    border-bottom: 1px solid #eee
}
.habitchart-day {
    display: block;
    float: left;
    cursor: default
}
.habitchart-day:hover {
    background: #eee;
    color: #09f
}
.habitchart-taskholder {
    border-bottom: 1px solid #eee;
    background: #fff;
    display: block;
    position: relative
}
.habitchart-blankcell {
    display: block;
    float: left
}
.habitchart-taskbar {
    position: absolute
}
.habitchart-taskbar-out {
    background: #22baa0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    cursor: pointer
}
.habitchart-taskbar-in {
    display: block;
    border-radius: 8px;
    width: 30%;
    height: 100%;
    background: #087f6b
}
.habitchart-wd-0 {
    background-color: #f8f8f8;
    border-right: 1px dashed #ccc
}
.habitchart-wd-6 {
    background-color: #f8f8f8
}
.habitchart-cell-yes {
    background: #3bc765;
    color: #fff;
    font-size: 11px
}
.habitchart-cell-yes21,
.habitchart-cell-yesmorethan21 {
    background: #f3cf3f;
    color: #3d3d3d;
    font-size: 11px
}
.habitchart-cell-yes21 {
    background-image: url(/templates/default/images/site/tiny-flag.png);
    background-repeat: no-repeat;
    background-position: 1px 1px
}
.habitchart-cell-no {
    background: #e74c3c
}
.hide {
    display: none
}
#banner {
    background: #3bc765;
    border-bottom: 3px solid #2ea251
}
#banner .form {
    padding: 50px
}
#banner .form h2 {
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 0px 2px 2px #777
}
#banner .form h3 {
    text-align: center;
    line-height: 1.5;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: normal
}
#banner h3 a {
    color: #ff5f5f;
    background: #fff;
    padding: 1px 7px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px
}
#banner h3 a:hover {
    color: #fff;
    background: #0b836f
}
.banner {}.banner .form {
    padding: 50px
}
.banner .form h2 {
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 0px 2px 2px #777
}
.banner .form h3 {
    text-align: center;
    line-height: 1.5;
    color: #f5f5f5;
    font-size: 18px;
    font-weight: normal
}
.banner h3 a {
    color: #ff5f5f;
    background: #fff;
    padding: 1px 7px;
    font-size: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px
}
.banner h3 a:hover {
    color: #fff;
    background: #0b836f
}
.myform {
    background: #fff;
    padding: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 480px;
    margin: 50px auto
}
.myform .input-textbox {
    clear: both;
    padding-bottom: 20px
}
.myform .input-textbox label,
.myform .input-submit label {
    width: 140px;
    display: block;
    float: left;
    font-size: 16px;
    padding-top: 7px;
    color: #666
}
.myform .input-textbox input {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #fff;
    background: #eee;
    padding: 10px;
    font-size: 16px;
    width: 316px
}
.myform .input-textbox select {
    width: 336px;
    padding: 0 10px;
    margin-left: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    background: #eee;
    border: 1px solid #fff
}
.myform .input-textbox .inputerror {
    border-color: #ffcfce;
    cursor: pointer
}
.myform .input-textbox .inputerror:hover {
    border-color: #9e3737
}
.myform .input-textbox .input-checkbox {
    width: 300px;
    padding-bottom: 30px
}
.myform .input-checkbox input {
    width: auto
}
.myform .input-submit {
    clear: both
}
.myform .input-submit .submit {
    width: 200px;
    padding: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #3bc765;
    border-width: 0;
    border-bottom: 3px solid #2ea251;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase
}
.myform .input-submit .submit:hover {
    background-color: #2ea251
}
.myform .input-submit .loadindicator {
    background: #eee url(/templates/default/images/site/spinner.gif) center center no-repeat;
    text-indent: -9999px
}
.myform .input-submit .loadindicator:hover {
    background-color: #eee
}
.myform .input-submit .morelink {
    float: right;
    padding: 15px 30px 0 0;
    color: #999;
    font-size: 14px
}
.myform .input-submit .morelink:hover {
    color: #22baa0
}
.myform .input-radiobox {
    padding-bottom: 10px;
    margin-left: 140px
}
.myform .input-radiobox label {
    float: none;
    width: auto;
    font-size: 16px;
    color: #000
}
.myform .input-radiobox input {
    width: auto
}
.myform label a {
    padding: 2px 5px;
    font-size: 11px;
    background: #f0f0f0;
    color: #aaa;
    border-radius: 8px
}
.myform .input-textbox .companyscreennameinput span {
    float: left;
    font-size: 16px;
    padding: 10px 5px;
    color: #999
}
.notify-bar {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px
}
.notify-bar-success {
    background: #eaffa5;
    color: #6c8c00
}
.notify-bar-error {
    background: #ffcfce;
    color: #9e3737
}
.notify-bar-warning {
    background: #ffeeb1;
    color: #e37b00
}
.notify-bar-info {
    background: #d6e2ff;
    color: #577bd1
}
.notify-bar-icon {
    float: left;
    width: 32px
}
.notify-bar-text {
    padding: 0 20px 0 10px;
    line-height: 1.5
}
.notify-bar-text code {
    background: none
}
.notify-bar-text-sep {
    border-top: 1px solid #eee;
    margin: 10px 0;
    display: none
}
.notify-bar-button {
    float: right;
    width: 15px;
    text-align: right
}
.notify-bar p {
    margin-bottom: 0 !important
}
#homebanner {
    text-align: center
}
#homebanner img {
    max-width: 100%
}
#section1-more {
    padding-top: 20px
}
#section1-more .startbtn {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    display: block;
    margin: auto;
    width: 180px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #3bc765;
    border-width: 0;
    border-bottom: 4px solid #2ea251;
    font-size: 22px
}
#section1-more .startbtn:hover {
    background: #2ea251;
    height: 46px;
    margin-top: 4px;
    line-height: 50px
}
#section1-links {
    text-align: center;
    color: #a6a5a5;
    padding: 10px
}
#section1-links a {
    color: #a6a5a5
}
#section1-links a:hover {
    color: #2ea251
}
#section2 {
    text-align: center;
    background: #3bc765
}
#section2 h2 {
    color: #fff;
    line-height: 1.5
}
#section2 h2 strong {
    text-shadow: 1px 1px 0 #8afaac
}
#section2 .slide1 .textbox {
    text-align: center;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    height: 40px;
    font-size: 18px;
    width: 600px;
    max-width: 60%;
    border: 0px solid #fff;
    padding: 10px 20px
}
#section2 .slide1 .eventhelp {
    padding: 10px;
    font-size: 11px;
    font-style: italic
}
.startarrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 25px 0 25px;
    border-color: #fff transparent transparent transparent
}
#checkinresultsample {
    text-align: center;
    padding: 20px
}
#checkinresultsample img {
    border-radius: 8px;
    -webkit-border-radius: 8px
}
#tourcomplete a {
    color: #fff;
    font-size: 18px
}
#checkinsample {
    padding: 40px 20px;
    margin: 10px auto;
    background: #fff;
    width: 60%;
    max-width: 500px;
    border-radius: 10px
}
#checkinsample p {
    line-height: 1.5;
    font-size: 18px
}
#checkinsample p big {
    font-size: 24px;
    font-weight: bold
}
.btncheckinsuccess {
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #3bc765;
    border-width: 0;
    border-bottom: 4px solid #2ea251;
    font-size: 18px
}
.btncheckinsuccess:hover {
    color: #fff;
    background: #2ea251;
    height: 36px
}
.btncheckinfail {
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: #e74c3c;
    border-width: 0;
    border-bottom: 4px solid #d03221;
    font-size: 18px
}
.btncheckinfail:hover {
    color: #fff;
    background: #d03221;
    height: 36px
}
#sectionregister {
    background: #2ea251
}
#sectionaboutus {
    padding-top: 0px;
    background: #666
}
#sectionaboutus h3 {
    text-align: center;
    line-height: 1.7;
    color: #fff;
    padding-top: 30px
}
#sectionaboutus h3 a {
    color: #999
}
.profile {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid #888;
    color: #eee
}
.profile img {
    border-radius: 100px;
    -webkit-border-radius: 100px
}
.profile h2 {
    padding: 30px 0 0 0;
    color: #eee
}
.profile p {}#fp-nav {
    opacity: 0.2 !important
}
.fp-controlArrow.fp-next {
    right: 65px !important
}
#eventpage {
    width: 940px;
    margin: 30px auto;
    padding: 10px
}
#eventpage h1 {
    font-size: 28px
}
#eventlist {
    list-style-type: none
}
#eventlist li {
    padding: 15px;
    margin: 0 0 30px 0;
    background: #f0f0f0;
    border-radius: 8px;
    font-size: 18px
}
#eventlist li:hover {
    background: #ddd
}
#eventlist h3 {
    margin-bottom: 0
}
#eventlist h3 strong {
    font-weight: normal
}
#eventlist h3 img {
    vertical-align: middle;
    float: left;
    margin: 4px 5px 0 0
}
#eventlist h3 span {
    float: left
}
#eventlist h3 .currentcheckin {
    float: right;
    font-size: 12px;
    color: #888;
    font-style: italic
}
#eventlist .checkinbuttons {
    margin-top: 0px;
    clear: both;
    padding-top: 10px
}
#eventlist .eventitemadd {
    background: #fff
}
#eventlist .eventitemadd:hover {
    background: #fff
}
#eventlist .eventitemadd:hover a {
    color: #f90
}
#eventhistory {
    width: 960px;
    margin: auto
}
.eventeditpencil {
    display: inline-block;
    line-height: 16px;
    cursor: pointer;
    border-radius: 8px 0 8px 0;
    background: #ddd;
    padding: 0 5px;
    font-size: 11px;
    color: #555
}
.eventeditpencil img {
    float: left;
    margin: 4px 5px 0 0
}
.eventeditpencil span {
    float: left
}
#editState {
    font-size: 12px !important;
    margin-top: 5px
}
@media only screen and (max-width: 768px) {
    #fp-nav {
        display: none
    }
    .fp-controlArrow.fp-next {
        right: 15px !important
    }
    #eventpage {
        width: 90%;
        margin: 10px auto
    }
    #eventlist h3 .currentcheckin {
        float: none;
        clear: both;
        margin: 10px 0
    }
}
@media only screen and (max-width: 600px) {
    .myform .input-textbox label {
        padding-bottom: 5px
    }
    .myform .input-textbox {
        padding-bottom: 10px
    }
    .myform .input-textbox input {
        clear: left;
        display: block
    }
    .myform {
        width: 325px
    }
    .companylist,
    .employeelist {
        width: 385px
    }
    #banner .form,
    .banner .form {
        padding: 40px 20px
    }
    .myform .input-textbox .input-checkbox {}.myform .input-checkbox input {
        width: auto;
        float: left
    }
    .myform .input-textbox .companyscreennameinput {
        clear: left;
        display: block
    }
    .myform .input-textbox .companyscreennameinput input {
        width: 120px !important;
        clear: none !important
    }
}
@media only screen and (max-width: 500px) {
    #banner .form h3,
    .banner .form h3 {
        margin: 0;
        padding-top: 10px
    }
    .myform .input-textbox input {
        width: 220px
    }
    .myform .input-textbox select {
        width: 240px
    }
    .myform {
        width: 245px;
        padding: 20px;
        margin: 30px auto 0 auto
    }
    .myform .input-submit .submit {
        width: 100%
    }
    .myform .input-submit .morelink {
        clear: both;
        padding: 5px 0px;
        margin-top: 10px;
        text-align: center;
        float: none;
        display: block;
        width: 100%
    }
    .myform .input-textbox .input-checkbox {}.myform .input-checkbox input {
        width: auto;
        float: left
    }
    .myform .input-textbox .companyscreennameinput {
        clear: left;
        display: block
    }
    .myform .input-textbox .companyscreennameinput span {
        font-size: 13px
    }
    .myform .input-textbox .companyscreennameinput input {
        width: 80px !important;
        padding: 10px 4px;
        clear: none !important
    }
    #fp-nav {
        display: none !important
    }
    #banner .form h2,
    .banner .form h2 {
        font-size: 24px
    }
    #banner .form h3,
    .banner .form h3 {
        display: none
    }
    #banner .form,
    .banner .form {
        padding: 20px 10px
    }
    .fp-controlArrow {
        top: 50px !important;
        opacity: 0.2
    }
    .fp-controlArrow:hover {
        opacity: 1
    }
    .fp-controlArrow.fp-next {
        right: 15px !important
    }
    .fp-controlArrow.fp-next {
        border-width: 10px 0 10px 10px !important
    }
    .fp-controlArrow.fp-prev {
        border-width: 10px 10px 10px 0 !important
    }
    .profile {
        padding: 10px 0 0 0
    }
    #sectionaboutus h3 {
        padding: 0;
        font-size: 14px
    }
    .myform .input-textbox label {
        padding-bottom: 0
    }
    .myform .input-textbox .input-checkbox {
        padding-bottom: 10px
    }
    #section2 h2 {
        font-size: 18px
    }
    #section2 .slide1 .textbox {
        width: 80%;
        font-size: 14px
    }
    #checkinsample {
        width: 80%
    }
    .btncheckinsuccess,
    .btncheckinfail {
        width: 100px;
        font-size: 14px
    }
}
@media only screen and (max-width: 320px) {
    #banner .form h2,
    .banner .form h2 {
        padding-top: 20px
    }
    #eventpage h1 {
        font-size: 24px
    }
    #eventlist h3 {
        font-size: 16px
    }
    #eventlist li {
        font-size: 16px
    }
}
#sb-container,
#sb-wrapper {
    text-align: left
}
#sb-container,
#sb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0
}
#sb-container {
    height: 100%;
    display: none;
    visibility: hidden;
    z-index: 1999
}
body>#sb-container {
    position: fixed
}
#sb-overlay {
    height: expression(document.documentElement.clientHeight+'px')
}
#sb-container>#sb-overlay {
    height: 100%
}
#sb-wrapper {
    position: relative
}
#sb-wrapper img {
    border: none
}
#sb-body-inner {
    background: #fff url(/templates/default/images/shadowbox/loading.gif) center center no-repeat
}
#sb-body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000
}
#sb-body-inner {
    position: relative;
    height: 100%
}
#sb-content.html {
    height: 100%;
    overflow: auto;
    background: #fff
}
#sb-loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10px
}
#sb-body,
#sb-loading {
    background-color: #fff
}
#sb-title,
#sb-info {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden
}
#sb-title-inner,
#sb-info-inner {
    position: relative;
    font-family: 'Lucida Grande', Tahoma, sans-serif;
    line-height: 16px
}
#sb-title,
#sb-title-inner {
    height: 26px
}
#sb-title-inner {
    font-size: 16px;
    padding: 5px 0;
    color: #fff
}
#sb-info,
#sb-info-inner {
    height: 20px
}
#sb-info-inner {
    font-size: 12px;
    color: #fff
}
#sb-nav {
    float: right;
    height: 16px;
    padding: 2px 0;
    width: 45%
}
#sb-nav a {
    display: block;
    float: right;
    height: 16px;
    width: 16px;
    margin-left: 3px;
    cursor: pointer
}
#sb-nav-close {
    background-image: url(/templates/default/images/shadowbox/close.png);
    background-repeat: no-repeat
}
#sb-nav-next {
    background-image: url(/templates/default/images/shadowbox/next.png);
    background-repeat: no-repeat
}
#sb-nav-previous {
    background-image: url(/templates/default/images/shadowbox/previous.png);
    background-repeat: no-repeat
}
#sb-nav-play {
    background-image: url(/templates/default/images/shadowbox/play.png);
    background-repeat: no-repeat
}
#sb-nav-pause {
    background-image: url(/templates/default/images/shadowbox/pause.png);
    background-repeat: no-repeat
}
#sb-counter {
    float: left;
    padding: 2px 0;
    width: 45%
}
#sb-counter a {
    padding: 0 4px 0 0;
    text-decoration: none;
    cursor: pointer;
    color: #fff
}
#sb-counter a.sb-counter-current {
    text-decoration: underline
}
div.sb-message {
    font-family: 'Lucida Grande', Tahoma, sans-serif;
    font-size: 12px;
    padding: 10px;
    text-align: center
}
div.sb-message a:link,
div.sb-message a:visited {
    color: #fff;
    text-decoration: underline
}
#sb-nav-close {
    float: right;
    width: 29px;
    height: 29px;
    position: absolute;
    right: 0;
    margin: -8px -9px 0 0;
    z-index: 1000;
    cursor: pointer
}